<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>ZoneCube</title>
  </head>
  <body>
    <nav>
      <h1>ZoneCube</h1>
   
      <ul>
        <li>
          <form action="/search">
            <input type="text" name="search" placeholder="Ex: Rubik's">
          </form>
        </li>
        <li><a href="/">Accueil</a></li>
        <% if(!locals.user) { %>
          <li><a href="/signin">Se connecter</a></li>
          <li><a href="/signup">S'inscrire</a></li>
        <% } else { %>
          <li><a href="/category/kind">Catégories</a></li>
          <li><a href="/profile">Profile</a></li>
        <% } %>
        <% if(locals.user && locals.user.role === "admin") { %>
          <li><a href="/admin">Admin</a></li>
        <% } %>
      </ul>
    </nav>
