<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>ZoneCube</title>
  </head>
  <body>
    <nav>
      <h1>ZoneCube</h1>

      <ul>
        <li><a href="/">Accueil</a></li>
        <% if(!locals.user) { %>
          <li><a href="/signin">Se connecter</a></li>
          <li><a href="/signup">S'inscrire</a></li>
        <% } else { %>
          <li><a href="/categories">Catégories</a></li>
          <li><a href="/profile">Profile</a></li>
        <% } %>
      </ul>
    </nav>
    <main>
