<%- include('partials/header') %>

<h2>Se connecter</h2>

<p>Si vous n'avez pas de compte <a href="/signup">Cliquez ici !</a></p>

<form action="/signin" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="email@domain.com">
    </div>

    <div>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" placeholder="*********">
    </div>

    <input type="submit" value="Se connecter">
</form>

<%- include('partials/footer') %>